*{
	padding: 0;
	margin: 0;
}
.conent{
	width: 220px;
	height: 330px;
	border: 1px solid red;
	margin:50px auto;
	overflow: hidden;
	position: relative;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: '';
	height: 0;	
	clear: both;
	display: block;
}
ul{
	width: 660px;
	position: absolute;
	left: 0px;	
}
li{
	float: left;
	list-style: none;
}
#circle{
	position: absolute;
	bottom: 30px;	
	left: 60px;
}
#circle li{
	border :1px solid red;
	width: 20px;	
	height: 20px;
	margin-right: 15px;
			
}